[flake8]
max-line-length = 100
exclude =
    services/optimization-service/optimization_pb2.py,
    services/optimization-service/optimization_pb2_grpc.py
per-file-ignores =
    tests/test_api_gateway.py: E402
